<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <!--<add key="username" value="nobby.mendonca@hansaresearch.com"/>
    <add key="password" value="C1r1t@123"/>-->
    <add key="username" value="api@hansaresearch.com"/>
    <add key="password" value="H2nsa#1814"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="proposaltrachercs1" connectionString="Server=WSDMUM1143\SQLEXPRESS;Database=ProposalTracker_v1;Trusted_Connection=Yes;" />
    <add name="proposaltrachercs" connectionString="Data Source=203.188.224.233;Initial Catalog=ProposalTrackerStage;User ID=sa;Password=C1r1t@123" providerName="System.Data.SqlClient" />-->
    <!-- <add name="proposaltrachercs1" connectionString="Data Source=HANSATESTSERVER;Initial Catalog=ProporsalTracker;Integrated Security=True"/> -->
    <!-- <add name="proposaltrachercs" connectionString="Data Source=HANSATESTSERVER;Initial Catalog=ProporsalTracker;Integrated Security=True"/> -->
    <add name="proposaltrachercs1" connectionString="Data Source=HANSAFINANCE;Initial Catalog=ProporsalTracker;User ID=sa;Password=S}#6Av3e8zus%`J'yXSa" providerName="System.Data.SqlClient"/>
    <add name="proposaltrachercs" connectionString="Data Source=HANSAFINANCE;Initial Catalog=ProporsalTracker;User ID=sa;Password=S}#6Av3e8zus%`J'yXSa" providerName="System.Data.SqlClient"/>
    <add name="TeamHeadcs" connectionString="Data Source=HANSAFINANCE;Initial Catalog=hrgdata;User ID=sa;Password=S}#6Av3e8zus%`J'yXSa" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: e8379735-90ab-4a13-8290-37778d6f1e64-->